nav a {
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    padding: 15px;
    border-radius: 50px;
}

body {
    background-image: url("img/bg.jpg");
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 1000px;
}

h1 {
    text-align: center;
}

main {
    width: 60%;
    margin: auto;
}

main img {
    width: 50%;
    margin: auto;
    display: block;
}

aside {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
    background-color: pink;
}

footer {
    background-color: blueviolet;
    padding: 30px;
}